## Part 7: Lists

### Overview
In this section, we will go over list data types and how they are used in Python.

### Lists explained
* lists are ordered sequences that can hold a variety of object types.
* They use `[]` brackets and commas to separate objects in the list.
  + e.g. `[1, 2, 3, 4, 5]`
* Lists support **indexing** and **slicing**. Lists can be nested and also have a variety of useful methods that can be called off of them.

In [1]:
my_list = [1, 2, 3]

In [2]:
my_list

[1, 2, 3]

In [3]:
## Create list of mixed object types
my_lists = [1, "2", 3.0]

In [4]:
my_lists

[1, '2', 3.0]

In [5]:
len(my_lists)

3

In [6]:
## Use indexing and slicing
my_list = ["one", "two", "three"]

In [7]:
my_list[0]

'one'

In [8]:
my_list[1:]

['two', 'three']

In [9]:
my_list[-1]

'three'

In [10]:
another_list = ["four", "five"]

In [11]:
## Concatenate lists
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [12]:
new_list = my_list + another_list

In [13]:
new_list

['one', 'two', 'three', 'four', 'five']

In [14]:
## Mutate lists
new_list[0] = "ONE ALL CAPS"

In [15]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [16]:
new_list.append("SIX")

In [17]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'SIX']

In [18]:
## Add a new element to end of list (can't concatenate with a another data object!)
new_list.append("SEVEN")

In [19]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'SIX', 'SEVEN']

In [20]:
## Remove last element in list
new_list.pop()

'SEVEN'

In [21]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'SIX']

In [22]:
## Save popped item to variable
popped_item = new_list.pop()
popped_item

'SIX'

In [23]:
## Remove other elements besides the last element - add index value, default is end of list
new_list.pop(0)

'ONE ALL CAPS'

In [24]:
new_list

['two', 'three', 'four', 'five']

In [25]:
new_list = ["a", "e", "x", "c", "b"]
num_list = [4, 1, 8, 3]

In [26]:
new_list.sort()

In [27]:
new_list

['a', 'b', 'c', 'e', 'x']

In [28]:
## Don't do this!:
my_sorted_list = new_list.sort()
my_sorted_list

In [29]:
type(my_sorted_list)

NoneType

In [30]:
## Do this instead:
new_list.sort()
my_sorted_list = new_list
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [31]:
type(my_sorted_list)

list

In [32]:
## Reverse list:
num_list.reverse()
num_list

[3, 8, 1, 4]